<!-- views/404.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
</head>
<body>
    <div class="d-flex justify-content-center">
        <img src="/public/img/404 Error-pana.png" alt="404" class="img-fluid w-50">
    </div>
</body>
</html>
