<!DOCTYPE html>
<html lang="en">
<!-- sharavan  -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="/public/css/fonts.css">
  <link rel="stylesheet" href="/public/css/all.min.css">
  <link rel="stylesheet" href="/public/css/remixicon.css">
  <link rel="stylesheet" href="/public/css/bootstrap.min.css">

  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="/public/css/media.css">
</head>

<body>
<!-- top  navbar start  -->
    
<header class="d-flex align-items-center header-bg fixed-top">  
    <div class="container">
        <div class="row align-items-center">
                <div class="res-nav-i col-xs-2 col-sm-2 d-xxl-none d-xl-none d-lg-none">
                    <a class="" style="color: #f7a500;" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                        aria-controls="offcanvasExample">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
                <div class="col-xl-5 col-lg-5 d-md-none d-sm-none col-lg-5 d-xs-none d-lg-block d-xl-block d-none">
                    <ul class="d-flex justify-content-around" type="none">
                        <!-- <li class="">
                            <a href="#" class="content text-white text-decoration-none ">Decoragroup@gmail.com</a>
                        </li> -->

                        <li class="d-flex justify-content-center">
                            <a href="/"
                                class="content text-white  text-decoration-none  text-uppercase">home</a>
                        </li>
                        <li class="">
                            <a href="About-Page"
                                class="content text-white text-decoration-none  text-uppercase">about</a>
                        </li>
                        <li class="">
                            <a href="Event"
                                class="content text-white text-decoration-none  text-uppercase">Events</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-2 col-xs-10 col-sm-10 col-lg-2  decora-nav text-end text-md-end">
                    <h2 class="text-capitalize  d-inline-block mx-auto" style="color:#f7a500">decora</h2>
                </div>
                <div class="col-xl-5 col-lg-5 d-md-none d-sm-none d-xs-none d-lg-block d-xl-block d-none">
                    <ul class="d-flex justify-content-around" type="none">
                        <li class="">
                            <a href="Blog"
                                class="content text-white text-decoration-none text-uppercase">blog</a>
                        </li>
                        <li class="contact">
                            <a href="#"
                                class="content text-active text-decoration-none text-uppercase">contact</a>
                        </li>
                        <li class="">
                            <a href="/public/apk/app-release.apk" download="decora.apk" class="content text-white text-decoration-none text-uppercase"><i class="fas fa-download"></i> App download</a>
                        </li>
                    </ul>
                </div>
            
        </div>
    </div>
</header>
<div class="offcanvas offcanvas-start off-z" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header ">
        <h5 class="offcanvas-title d-flex justify-content-center" id="offcanvasWithBothOptionsLabel">
            <div class="head-name">
                <h1>Decora</h1>
            </div>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body position-relative">

        <ul class="navbar-nav ">
            <li class="nav-item ">
                <a class="nav-link font-sans text-start" href="index">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-sans" href="About-Page">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-sans" href="Event">Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-sans" href="blog">BLOG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-sans" href="contact">CONTACT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-sans" href="/public/apk/app-release.apk" download="decora.apk"><i class="fas fa-download"></i> App download</a>
            </li>
        </ul>

        <div class="title-bar-social1">
            <ul class="d-flex  justify-content-center " type="none">
                <li><a href="https://www.facebook.com/login/" target="_blank"><i
                            class="ri-facebook-circle-line"></i></a></li>
                <li><a href="https://www.instagram.com/decora.evnt/" target="_blank"><i
                            class="ri-instagram-line"></i></a></li>
                <li><a href="https://twitter.com/i/flow/login" target="_blank"><i
                            class="ri-twitter-fill"></i></a></li>
                <li><a href="https://in.linkedin.com/" target="_blank"><i class="ri-linkedin-fill"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- top  navbar End -->

  <!-- banner map section start -->

  <section class="banner-map">
    <div class="container-fluid m-0 p-0">
      <div class="map-section">
        <div class="overflow" style="overflow: hidden;">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3718.8812034969183!2d72.87295987597342!3d21.236558880607646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04f4783e04dc3%3A0x84283bcabd051a32!2sRed%20%26%20White%20Multimedia%20Education%20-%20Mota%20Varachha!5e0!3m2!1sen!2sin!4v1702965312582!5m2!1sen!2sin"
            width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
    <!-- form start -->

    <div class="Question-form">
      <form action="/contactData" method="post" >
        <div class="title">
          <h4>Have question? Get in touch!</h4>
        </div>
        <div class="mb-3">
          <label for="fname" class="form-label">First Name</label>
          <input type="text" name="fname" placeholder="Your first name" class="form-control" id="fname">

        </div>
        <div class="mb-3">
          <label for="lname" class="form-label">Last Name</label>
          <input type="text" name="lname" placeholder="Your last name" class="form-control" id="lname">

        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" name="email" placeholder="Your email" class="form-control" id="email"
            aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label style="display: block;" class="form-label">Type Here</label>
          <textarea class="contact-text" name="contact_text" placeholder="" id="" cols="unset" rows="unset"></textarea>
        </div>
        <button type="submit" class="btn text-white  col-12" style="background-color: #f8ba3c;;">Submit <i
            class="ri-arrow-right-up-line"></i></button>
      </form>
    </div>

    <div class="container">
      <div class="row">
        <!-- <div class="col-lg-6"></div> -->
        <div class="d-flex justify-content-end">
            <div class="Question-content">
                <h2>We'd love to here</h2>
                <p>We are here to answer any questions you may have.As a partner of corporates,relation has more than 9,000 offices of all sizes and all potential of sessions.</p>
              </div>
        </div>
      </div>
    </div>
    <!-- form end -->
  </section>
  <!-- banner map section start -->

  <!-- visit our office section start -->
  <section class="visit-our-office">
    <div class="container">
      <div class="row">
        <div class="office-content text-center">
          <h2>Visit our office</h2>
          <p>Welcome to a new era where our ideas transcend traditional workspace limitations. Explore our unique
            decor solutions, crafted from a vision that knows no bounds.</p>
          <div class="office-img  d-flex justify-content-center col-xl-12 col-lg-12 col-md-12 col-sm-12 flex-wrap">
            <div class="img-1 col-xl-7 col-lg-6 col-md-12">
              <img src="/public/img/img-1.jpg" alt="">
            </div>

            <div class=" col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex flex-wrap justify-content-center">
              <div class="d-flex col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <img src="/public/img/img-3.jpg" alt="" class="img-2">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <img src="/public/img/img-2.jpg" alt="" class="img-3">
                </div>
              </div>
              <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                <img src="/public/img/pexels-pavel-danilyuk-7658380 1.png" alt="" class="img-4">
              </div>
            </div>

          </div>
          <div class="office-address justify-content-center d-flex">
            <div>
              <h4 class="address"> Sunshine Complex,Sudam Chowk , Surat. </h4>
              <span class="phone"> +91 989 850 9777 </span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- contact-section-2 end -->
  <!-- contact-section-3 start -->
  <section class="inquiry-form-contact-page">
    <div class="container">
      <div class="row">
        <!-- <div class="connecting-map-and-form"> -->
        <div class="form-content   justify-content-center d-flex">
          <div class="form-details col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-10  ">
            <h3 class="text-uppercase text-center">quick inquiry</h3>
            <p class="text-uppercase text-center">IF YOU HAVE ANY QUESTION? WE ARE GLAD TO
              CONSULT YOU AS SOON AS POSSIBLE</p>
            <div class="contact-page-inquary-form ">
              <form action="/inquiry" method="post" class="d-flex flex-wrap justify-content-center">
                <div class="col-xl-4 col-lg-4  col-md-12 col-sm-12 col-12 text-center">
                  <input type="text" name="name" placeholder="Enter Your Name" class="name">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 text-center">
                  <input type="email" name="email" placeholder="Email Address" class="number2">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 text-center ">
                  <input type="text" name="mobile" placeholder="Phone Number" class="number3">
                </div>
                <div class="  d-flex justify-content-center">
                  <button type="submit" class="inqury-btn-contact-page"> Submit </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </section>
  <!-- contact-section-3 start -->
  <!-- footer start -->
  <footer class="footer-section d-none d-md-flex">
    <div class="container">
        <div class="row ">
            <div class="footer-content d-flex justify-content-between flex-md-wrap ">
                <!-- first part -->
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12">
                    <div class="footer-discription">
                        <h2 class="text-capitalize text-white">Decora</h2>
                        <p class='text-capitalize text-secondary'>Live events are invaluable opportunities that not
                            only create
                            immediate value but also possess the remarkable potential to extend the lifespan and
                            impact of your
                            event far beyond its conclusion.</p>
                    </div>
                    <div class="footer-social-icon">
                        <span>Follow us</span>
                            <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter twitter-bg"></i></a>
                            <a href="https://in.linkedin.com/"><i class="fab fa-linkedin google-bg"></i></a>
                            <a href="https://www.instagram.com/decora.evnt/"><i class="fab fa-instagram google-bg"></i></a>                          
                    </div>
                </div>
                <!-- second part  -->
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3">
                    <div class="contact-details">
                        <div class="footer-widget-heading">
                            <h3 class="text-uppercase">CONTACT</h3>
                        </div>
                        <ul type="none">
                            <li class="li-list">
                                <a href="" class="text-decoration-none">Home</a>
                            </li>
                            <li class="li-list">
                                <a href="#" class="text-decoration-none">Pricing</a>
                            </li>
                            <li class="li-list">
                                <a href="#" class="text-decoration-none">Gallery</a>
                            </li>
                            <li class="li-list">
                                <a href="contact" class="text-decoration-none">Contact Us</a>
                            </li>
                            <li class="li-list">
                                <a href="#" class="text-decoration-none">Organizer</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- third part  -->
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-3">
                    <!-- <div class="col-xl-2 col-lg-2 col-md-4 mb-30 ms-5"> -->
                    <div class="useful-link">
                        <div class="footer-widget-heading">
                            <h3 class="text-uppercase">USEFUL LINK</h3>
                        </div>
                        <ul type="none">
                            <li class="li-list">
                                <a href="About-Page" class="text-decoration-none">About Us</a>
                            </li>
                            <li class="li-list">
                                <a href="#" class="text-decoration-none">Terms & Conditions</a>
                            </li>
                            <li class="li-list">
                                <a href="#" class="text-decoration-none">User Guide</a>
                            </li>
                            <li class="li-list">
                                <a href="#" class="text-decoration-none">SupportCenter</a>
                            </li>
                        </ul>
                    </div>
                    <!-- </div> -->
                </div>
                <!-- forth part  -->
                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-5  ">
                    <div class="news-footer-widget">
                        <div class="footer-widget-heading">
                            <h3>NEWSLATER</h3>
                        </div>

                        <div class="subscribe-form d-flex justify-content-center">
                            <form>
                                <input type="text" placeholder="Email Address.." class="form-input">
                                <button><i class="ri-arrow-right-line "></i></button>
                            </form>
                        </div>
                    </div>

                    <div class="flex-md-wrap">

                        <div class="contact-info d-flex  mt-4">
                            <i class="ri-phone-fill "></i>
                            <div class="contact-info-number">
                                <h4>Call us</h4>
                                <span>9876543210</span>
                            </div>
                        </div>

                        <div class="contact-info d-flex mt-4">
                            <i class="ri-mail-fill "></i>
                            <div class="contact-info-email">
                                <h4>Email us</h4>
                                <span>decora.evnt@gmail.com</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="rights">
            <h6 class="text-center">
                Copyright © Decora 2023. All Rights Reserved
            </h6>
        </div>
</footer>
<footer class="footer-section d-sm-flex d-md-none d-flex">
    <div class="container">
        <div class="row ">
            <div class="footer-content d-flex justify-content-between flex-md-wrap flex-sm-wrap flex-wrap">
                <!-- first part -->
                <div class=" col-sm-12 col-12">
                    <div class="footer-discription">
                        <h2 class="text-capitalize text-white">Decora</h2>
                        <p class='text-capitalize text-secondary'>Live events are invaluable opportunities that not
                            only create
                            immediate value but also possess the remarkable potential to extend the lifespan and
                            impact of your
                            event far beyond its conclusion.</p>
                    </div>
                </div>
                <!-- second part  -->
                <div class=" col-sm-6 col-6">
                    <div class="contact-details">
                        <div class="footer-widget-heading">
                            <h3 class="text-uppercase">CONTACT</h3>
                        </div>
                        <ul type="none">
                            <li class="li-list">
                                <a href="#" class="text-decoration-none">Home</a>
                            </li>
                            <li class="li-list">
                                <a href="#" class="text-decoration-none">Pricing</a>
                            </li>
                            <li class="li-list">
                                <a href="#" class="text-decoration-none">Gallery</a>
                            </li>
                            <li class="li-list">
                                <a href="contact" class="text-decoration-none">Contact Us</a>
                            </li>
                            <li class="li-list">
                                <a href="#" class="text-decoration-none">Organizer</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- third part  -->
                <div class="col-sm-6 col-6">
                    <!-- <div class="col-xl-2 col-lg-2 col-md-4 mb-30 ms-5"> -->
                    <div class="useful-link">
                        <div class="footer-widget-heading">
                            <h3 class="text-uppercase">USEFUL LINK</h3>
                        </div>
                        <ul type="none">
                            <li class="li-list">
                                <a href="About-Page" target="_blank" class="text-decoration-none">About Us</a>
                            </li>
                            <li class="li-list">
                                <a href="Terms" target="_blank" class="text-decoration-none">Terms &
                                    Conditions</a>
                            </li>
                            <li class="li-list">
                                <a href="#" class="text-decoration-none">User Guide</a>
                            </li>
                            <li class="li-list">
                                <a href="#" class="text-decoration-none">SupportCenter</a>
                            </li>
                        </ul>
                    </div>
                    <!-- </div> -->
                </div>
                <!-- forth part  -->
                <div
                    class=" col-sm-12 col-12 d-sm-flex flex-sm-wrap flex-wrap d-flex justify-content-center justify-content-sm-center ">
                    <div class="news-footer-widget col-sm-12">
                        <div class="footer-widget-heading col-sm-12 col-12">
                            <h3>NEWSLATER</h3>
                        </div>

                        <div class="subscribe-form d-flex justify-content-center col-sm-12 col-12">
                            <form>
                                <input type="text" placeholder="Email Address.." class="form-input">
                                <button><i class="ri-arrow-right-line "></i></button>
                            </form>
                        </div>
                    </div>

                    <div class="flex-wrap d-sm-flex d-flex">

                        <div class="contact-info d-flex  mt-4 col-sm-6 col-6 col-xs-12">
                            <i class="ri-phone-fill "></i>
                            <div class="contact-info-number">
                                <h4>Call us</h4>
                                <span>9876543210</span>
                            </div>
                        </div>

                        <div class="contact-info d-flex mt-4 col-sm-6 col-6 col-xs-12">
                            <i class="ri-mail-fill "></i>
                            <div class="contact-info-email">
                                <h4>Email us</h4>
                                <span>decora.evnt@gmail.com</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-12 d-sm-flex d-flex justify-content-center justify-content-sm-center">
                    <div class="footer-social-icon">
                        <span>Follow us</span>
                        <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f facebook-bg"></i></a>
                        <a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter twitter-bg"></i></a>
                        <a href="https://in.linkedin.com/"><i class="fab fa-linkedin google-bg"></i></a>
                        <a href="https://www.instagram.com/decora.evnt/"><i class="fab fa-instagram google-bg"></i></a>                          
                    </div>
                </div>
            </div>
        </div>
        <div class="rights">
            <h6 class="text-center">
                Copyright © Decora 2023. All Rights Reserved
            </h6>
        </div>
</footer>
  <!-- footer end -->
  <script src="/public/js/bootstrap.bundle.min.js"></script>
  <script src="/public/js/jquery-3.7.0.min.js"></script>
</body>

</html>