<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
</head>

<body>
   <center>
  <div>
    <% categories.forEach(category => { %>
      <div class="<%= category.category.toLowerCase() %> w-25">
        <div>
          <img src="/public/img/img-1.jpg" width="200" alt="">
        </div>
        <div>
          <h4>category : <span><%= category.category %></span></h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div>
          <button class="category" data-category-id="<%= category._id %>">
            <%= category.category %>
          </button>
        </div>
      </div>
    <% }); %>
  </div>
</center>

    

</body>

</html>